.card {
  background-color: white;
  padding: .5rem;
  margin-bottom: .5rem;
  border-radius: 10px;

  .title {
    font-family: 'Matrix';
    font-size: 25pt;
  }

  .card-image {
    padding: 1rem;

    img {
      width: 340px;
    }
  }

  .card-data {
    padding: 2rem 0 1rem 0;
    width: max-content;

    .graph {
      margin: 1rem 0;
    }
  }

  .name {
    width: 450px;

    a.card-link {
      text-decoration: none;
      color: midnightblue;
      font-family: 'Matrix';
      font-size: 15pt;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .delta-tag {
    font-size: 9pt;
  }

  .name,
  .scores,
  .prices {
    .delta-tag {
      overflow: hidden;
      background-color: #e9e9e9;
      border-radius: 3px;
      text-align: center;
      padding-top: .4rem;

      span {
        padding: .4rem .6rem;
        margin-top: .4rem;
        min-width: 35px;
        text-align: center;

        &:nth-last-child(2) {
          text-align: center;

          &.stonk {
            color: rgb(60, 150, 60);
            background-color: rgba(60, 150, 60, 0.3);
          }

          &.stink {
            color: rgb(210, 90, 90);
            background-color: rgba(210, 90, 90, .3);
          }
        }

        &:last-child {
          text-align: center;
          color: white;
          background-color: #939393;
        }
      }
    }
  }
}